@tailwind base;
@tailwind components;
@tailwind utilities;

/*We use @apply to override the default styles of elements*/

html{
  @apply scroll-smooth h-full w-full;
}

body {
  @apply box-border m-0 p-0 min-h-full w-full antialiased bg-gray-50
}

button{
  @apply outline-none
}

::-webkit-scrollbar {
  @apply w-[3px] 
}
::-webkit-scrollbar-track {
  @apply bg-gray-300  
}
 ::-webkit-scrollbar-thumb {
  @apply bg-red-500 rounded
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-red-700 
}

.plate{
-webkit-box-shadow: 0px 2px 7px 1px rgba(184,184,184,1);
-moz-box-shadow: 0px 2px 7px 1px rgba(184,184,184,1);
box-shadow: 0px 2px 7px 1px rgba(184,184,184,1);
}
